@model IEnumerable<JODDB.Models.User>

<h2>User List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Password</th>
           <!-- <th>Actions</th>  -->
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <img src="@user.Photo" alt="User Photo" style="width: 50px; height: 50px;" />
                </td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.MobileNumber</td>
                <td>@user.Password</td>
                <td>
                    <!-- <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a> -->
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-success">Add New User</a>
